{% load static %}

<article class="row border border-dark rounded me-4 mb-3 ms-0 card-answer" data-answer-id="{{ answer.id }}">
    <div class="col-2 py-3">
        <div class="d-flex flex-column align-items-center">
            {% if answer.author.avatar %}
                <img src="{{ answer.author.avatar.url }}" width="90px" height="90px" class="ms-1 border rounded">
            {% else %}
                <img src="{% static "images/default_avatar.jpg" %}" width="90px" height="90px" class="ms-1 border rounded">
            {% endif %}
            {% include "layouts/like_dislike.html" with size=12 item=answer %}
        </div>
    </div>

    <div class="col-10 py-3">
        <div id="answer_{{ answer.id }}">
            <p>{{ answer.text }}</p>
            <div class="d-flex ">
                {% if answer.is_correct %}
                    <input class="me-2 checkbox-field" type="checkbox" value="check" id="correct_answer_{{ answer.id }}" checked/>
                    <label for="correct_answer_{{ answer.id }}">Correct!</label>
                {% else %}
                    <input class="me-2 checkbox-field" type="checkbox" value="check" id="correct_answer_{{ answer.id }}"/>
                    <label for="correct_answer_{{ answer.id }}">Correct!</label>    
                {% endif %}
            </div>
        </div>
    </div>

</article>
