{% load static %}

<div>
    <div class="row d-flex align-items-begin me-4">
        <div class="col-lg-2 col-sm-4">
            <h5>Login</h5>
        </div>
        <div class="col-lg-10 col-sm-8">
            <div class="mb-4">
                <input class="form-control is-invalid" placeholder="Enter your login here" aria-describedby="login">
                <div class="invalid-feedback">
                    Sorry wrong login!
                </div>                              

            </div>
        </div>
    </div>
    
    <div class="row d-flex align-items-begin me-4">
        <div class="col-lg-2 col-sm-4">
            <h5>Password</h5>
        </div>
        <div class="col-lg-10 col-sm-8">
            <div class="mb-4">
                <input type="password" class="form-control is-invalid" aria-describedby="password" required>
                <div class="invalid-feedback">
                    Sorry wrong password!
                </div>                              
            </div>
        </div>
    </div>
    
    <div class="row d-flex align-items-begin me-4">
        <div class="col-lg-2 col-sm-4">
            
        </div>
        <div class="col-lg-10 col-sm-8">
            <div>
                <button type="button" class="btn btn-light border">Log in!</button>
            </div>
            <div class="mt-4">
                <a href="{% url "registration" %}">create new account</a>
            </div>
        </div>
    </div>
</div>