{% load static %}

<div class="row me-4">
    <div class="col-2">
        <div>
            <img src="{% static "images/question.jpg" %}" , class="border rounded w-100 h-100">
            {% include "layouts/like_dislike.html" with size=16 %}
        </div>
    </div>

    <div class="col-10">
        <div>
            <h2 class="mb-2">{{ question.title }}</h2>
            <p class="mb-4">{{ question.text }}</p>
            <div>
                <span class="me-3">Tags:</span>
                <a href="">tag</a>
                <a href="">tag</a>
                <a href="">tag</a>
                <a href="">tag</a>
            </div>
        </div>
    </div>
</div>
