{% load static %}

<nav class="navbar bg-body-tertiary">
    <div class="container-sm-fluid container-lg">
        <a class="navbar-brand" href="{% url "index" %}">AskMe</a>

        
        <form class="d-flex gap-3">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <a class="btn btn-outline-success" href="{% url "new_question" %}">ASK!</a>        
        </form>
    
        <div class="d-flex justify-content-between gap-3">
            {% if user.is_authenticated %}
            <div class="border rounded">
                {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" width="55px" height="55px">
                {% else %}
                    <img src="{% static "images/default_avatar.jpg" %}" width="55px" height="55px">
                {% endif %}
            </div>
            <div class="d-flex flex-column justify-content-between">
                <div>{{ user.username }}</div>
                <div class="d-flex gap-3">
                    <a href="{% url "account_settings" %}">settings</a>
                    <a href="{% url "logout" %}">log out</a>
                </div>
            </div>
            {% else %}
            <div class="d-flex gap-3">
                <div>
                    <a href="{% url "login" %}">login</a>
                </div>
                <div>
                    <a href="{% url "registration" %}">register</a>
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
</nav>
