{% load static %}

<div>
    <div class="row d-flex align-items-begin me-4">
        <div class="col-lg-2 col-sm-4">
            <h5>Login</h5>
        </div>
        <div class="col-lg-10 col-sm-8">
            <div class="mb-3">
                <input type="question_title" class="form-control" aria-describedby="question_title">
            </div>
        </div>
    </div>

    <div class="row d-flex align-items-begin me-4">
        <div class="col-lg-2 col-sm-4">
            <h5>Email</h5>
        </div>
        <div class="col-lg-10 col-sm-8">
            <div class="mb-3">
                <input type="question_title" class="form-control" aria-describedby="question_title">
            </div>
        </div>
    </div>

    <div class="row d-flex align-items-begin me-4">
        <div class="col-lg-2 col-sm-4">
            <h5>NickName</h5>
        </div>
        <div class="col-lg-10 col-sm-8">
            <div class="mb-4">
                <input type="question_title" class="form-control" aria-describedby="question_title">
            </div>
        </div>
    </div>

    <div class="row d-flex align-items-begin me-4">
        <div class="col-lg-2 col-sm-4">
            <h5>Upload avatar</h5>
        </div>
        <div class="col-lg-10 col-sm-8">
            <div class="mb-3">
                <img src="img.jpg" class="border rounded w-50 h-50">
            </div>
            <div class="mb-3">
                <input class="form-control" type="file" id="formAvatar">
            </div>
        </div>
    </div>

    <div class="row d-flex align-items-begin me-4 mt-3=">
        <div class="col-lg-2 col-sm-4">

        </div>
        <div class="col-lg-10 col-sm-8">
            <button type="button" class="btn btn-light border">Save</button>
        </div>
    </div>
</div>