{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <title>AskMe</title>
</head>

<body>

    {% include "layouts/navbar.html" %}
  
    <hr/>

    <main class="container-sm-fluid container-lg mt-3">
        <div class="container-fluid mt-3">
            <div class="row">

                {% block content %}
                {% endblock %}

                <aside class="col-4">

                    {% include "layouts/tags_and_members.html" %}

                </aside>
            </div>
        </div>

    </main>
    
    {% include "layouts/footer.html" %}

</body>

</html>