<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <title>AskMe</title>
</head>

<body>

    <nav class="navbar bg-body-tertiary">
        <div class="container-sm-fluid container-lg">
            <a class="navbar-brand" href="./index.html">AskMe</a>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <div class="d-flex justify-content-between gap-3">
                <div class="border rounded">
                    <img src="../static/images/img.jpg" width="55px" height="55px">
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <div>Dr. Pepper</div>
                    <div class="d-flex gap-3">
                        <a href="./account_settings.html">settings</a>
                        <a href="">log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <hr />

    <main class="container-sm-fluid container-lg mt-3">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-8">

                    <div class="row me-4">
                        <div class="col-2">
                            <div>
                                <img src="../static/images/img.jpg" , class="border rounded w-100 h-100">
                                <div class="input-group flex-nowrap mt-3 w-80">
                                    <input type="number" value="5" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-10">
                            <div>
                                <h2 class="mb-2">Question</h2>
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                                    minus perferendis voluptatem magni unde molestias ratione similique atque
                                    cupiditate, excepturi distinctio vero aspernatur voluptates aut nostrum accusantium
                                    vel, quis enim id at perspiciatis doloremque mollitia? Tempora nisi aliquid dicta
                                    perferendis saepe, aliquam a rerum! Soluta, repellat debitis? Voluptas, vero labore?
                                </p>
                                <div>
                                    <span class="me-3">Tags:</span>
                                    <a href="">tag</a>
                                    <a href="">tag</a>
                                    <a href="">tag</a>
                                    <a href="">tag</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <article class="row border border-dark rounded me-4 mb-3 ms-0">
                        <div class="col-2 py-3">
                            <div class="d-flex flex-column align-items-center">
                                <img src="../static/images/img.jpg" , class="rounded w-75 h-75">
                                <div class="input-group flex-nowrap mt-3 w-75">
                                    <input type="number" value="5" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-10 py-3">
                            <div>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam temporibus minima
                                    nam consectetur, atque laboriosam error asperiores hic et quis, laudantium at
                                    aperiam quidem magni aspernatur porro? Unde, nesciunt. Qui dolor non fuga corrupti
                                    tempora architecto explicabo omnis amet iste.</p>
                                <div class="d-flex ">
                                    <input class="me-2" type="checkbox" value="check" />
                                    <span>Correct!</span>
                                </div>
                            </div>
                        </div>

                    </article>

                    <article class="row border border-dark rounded me-4 mb-3 ms-0">
                        <div class="col-2 py-3">
                            <div class="d-flex flex-column align-items-center">
                                <img src="../static/images/img.jpg" , class="rounded w-75 h-75">
                                <div class="input-group flex-nowrap mt-3 w-75">
                                    <input type="number" value="5" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-10 py-3">
                            <div>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam temporibus minima
                                    nam consectetur, atque laboriosam error asperiores hic et quis, laudantium at
                                    aperiam quidem magni aspernatur porro? Unde, nesciunt. Qui dolor non fuga corrupti
                                    tempora architecto explicabo omnis amet iste.</p>
                                <div class="d-flex ">
                                    <input class="me-2" type="checkbox" value="check" />
                                    <span>Correct!</span>
                                </div>
                            </div>
                        </div>

                    </article>


                    <hr/>

                    <article class="d-flex flex-column gap-3 align-items-begin me-4">
                        <div>
                            <textarea class="form-control" placeholder="Enter your answer here." rows="4"></textarea>
                        </div>
                        <div>
                            <button type="button" class="btn btn-light border">Answer</button>
                        </div>
                    </article>

                </div>

                <aside class="col-4">
                    <h3>Popular Tags</h3>
                    <div>
                        <span class="badge rounded-pill text-bg-primary">Primary</span>
                        <span class="badge rounded-pill text-bg-secondary">Secondary</span>
                        <span class="badge rounded-pill text-bg-success">Success</span>
                        <span class="badge rounded-pill text-bg-danger">Danger</span>
                        <span class="badge rounded-pill text-bg-warning">Warning</span>
                        <span class="badge rounded-pill text-bg-info">Info</span>
                        <span class="badge rounded-pill text-bg-light">Light</span>
                        <span class="badge rounded-pill text-bg-dark">Dark</span>
                    </div>

                    <h3 class="mt-5">Best Members</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li><a href="">Solo</a></li>
                            <li><a href="">Solo</a></li>
                            <li><a href="">Solo</a></li>
                            <li><a href="">Solo</a></li>
                            <li><a href="">Solo</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>

    </main>

    <div class="container">
        <footer class="py-3 mt-5">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© 2024 Company, Inc</p>
        </footer>
    </div>

</body>

</html>