{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="d-flex align-items-center gap-3 mb-3">
        <h1>Question</h1>
        <a href="{% url "index" %}">New Questions</a>
    </div>

    <div class="col-8 p-0">

        {% include "layouts/main_question.html" with question=question %}
        
        <hr>
        
        {% include "layouts/recent_answer.html" %}

        {% for answer in answers %}
            {% include "layouts/answer.html" with answer=answer %}
        {% endfor %}

        {% include "layouts/paginator.html" with page_obj=answers %}

        {% if user.is_authenticated %}
        {% include "layouts/answer_form.html" with form=form %}
        {% endif %}
        

        <script>
            let centrifugoToken = "{{ centrifugo.token }}";
            let centrifugoUrl = "{{ centrifugo.url }}";
            let channelName = "{{ channel_name }}"
        </script>
        <script src="https://unpkg.com/centrifuge@5.0.1/dist/centrifuge.js"></script>
        <script src="{% static "js/centrifugo.js" %}"></script>

    </div>

{% endblock %}