{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="d-flex align-items-center gap-3 mb-3">
        <h1>New Questions</h1>
        <a href="{% url "hot" %}">Hot Questions</a>
    </div>

    <div class="col-8 p-0">

        {% include "layouts/main_question.html" with question=question %}
        
        <hr>

        {% for answer in answers %}
            {% include "layouts/answer.html" with answer=answer%}
        {% endfor %}

        {% include "layouts/paginator.html" with page_obj=answers %}

    </div>

{% endblock %}